.venv
.git
.gitignore
.idea
.agents
.claude
**/__pycache__
**/*.pyc
**/*.pyo
terraform
backups
downloaded_files
*.md
.env
.env.*
.python-version
skills-lock.json
Dockerfile
docker-compose.yaml
.dockerignore
